{% if app.config.feature_cheat %}
    <h3>{{ game_time }}</h3>

    <h4 id="cheat"><b>CHEAT (Admin Tools):</b></h4>
    <h4>Time</h4>
    <div><a href="/cheat/time/reset">Reset Time</a></div>
    <div><a href="/cheat/time/1">Add 1 Hour</a></div>
    <div><a href="/cheat/time/6">Add 6 Hours</a></div>
    <div><a href="/cheat/time/24">Add 1 Day</a></div>

    <h4>Food</h4>
    <div><a href="/cheat/food/zero">0 Food</a></div>
    <div><a href="/cheat/food/10">Add 10 Foods</a></div>

    <h4>Full</h4>
    <div><a href="/cheat/full/zero">0 Full</a></div>
    <div><a href="/cheat/full/1">Add 1 Full</a></div>

    <h4>Clean</h4>
    <div><a href="/cheat/clean/zero">0 Clean</a></div>
    <div><a href="/cheat/clean/1">Add 1 Clean</a></div>

    <h4>Star</h4>
    <div><a href="/cheat/star/zero">0 Star</a></div>
    <div><a href="/cheat/star/1">Add 1 Star</a></div>

    <h4>Evolution</h4>
    <div><a href="/cheat/type/1">Egg</a></div>
    <div><a href="/cheat/type/2">Bird</a></div>
{% endif %}
