html, body {
    font-family: "Noto Sans", "Trebuchet MS", "Arial";
}
.body {
    margin: auto;
    margin-top: 50px;
    width: 320px;
    height: 568px;
    border: 1px solid black;
}

.egg {
    position: relative;
    width: 60px;
    height: 80px;
    background: #FCE94D;
    border: 5px solid #000;
    top: 220px;
    left: 130px;
    -webkit-border-radius: 50%/60% 60% 40% 40%;
    -moz-border-radius: 50%/60% 60% 40% 40%;
    border-radius: 50%/60% 60% 40% 40%;
}

.bird {
    position: relative;
    background:url(/images/bird.png);
    top: 220px;
    left: 110px;
    height: 101px;
    width: 101px;
}
