html, body {
    font-family: "Noto Sans", "Trebuchet MS", "Arial";
}
body {
    padding-top: 50px;
}
h3 {
    margin-top: 0px;
}

.body {
    margin: auto;
    width: 320px;
    height: 568px;
    border: 1px solid black;
    padding: 10px;
}
#bird-nest {
    float: left;
    position: relative;
    top: 200px;
    left: 5px;
    height: 78px;
    overflow: hidden;
    z-index: 1;
}
#bird-nest-bottom {
    float: left;
    position: relative;
    top: 200px;
    left: 5px;
    height: 75px;
    overflow: hidden;
    z-index: 3;
}
#bird-nest-bottom img {
    margin-top: -77px;
}
.egg {
    position: relative;
    width: 60px;
    height: 80px;
    /*background: #B6F0E6;*/
    background: #FAAA41;
    border: 5px solid #000;
    top: 50px; /* 140px */
    left: 125px;
    -webkit-border-radius: 50%/60% 60% 40% 40%;
    -moz-border-radius: 50%/60% 60% 40% 40%;
    border-radius: 50%/60% 60% 40% 40%;
    z-index: 2;
}

.bird {
    position: relative;
    top: 20px; /* 120px */
    left: 85px;
    height: 110px;
    width: 140px;
    overflow: hidden;
    z-index: 2;
}
.bird img {
    content:url("/images/owl.png");
}
.bird.superb img {
    margin-top: -112px;
    margin-left: -437px;
}
.bird.happy img {
    margin-top: -113px;
    margin-left: -2px;
}
.bird.normal img {
    margin-top: -112px;
    margin-left: -147px;
}
.bird.itchy img {
    margin-top: -114px;
    margin-left: -290px;
}
.bird.hungry img {
    margin-top: 0px;
    margin-left: 0px;
}
.bird.angry img {
    margin-top: 0px;
    margin-left: -434px;
}
.bird.sick img {
    margin-top: -233px;
    margin-left: -440px;
}
.bird.sleepy img {
    margin-top: -1px;
    margin-left: -146px;
}
.bird.sleep img {
    margin-top: -236px;
    margin-left: -4px;
}

/* OVERWRITE */
.progress span:nth-child(1) {
    position: absolute;
    color: black;
    margin-left: 10px;
}
.progress span:nth-child(2) {
    position: absolute;
    color: black;
}
#progress-full span:nth-child(2){
    margin-left: 243px;
}
#progress-clean span:nth-child(2){
    margin-left: 225px;
}
