{% extends 'layout.twig' %}

{% block wrapper %}
    <div id="wrapper">
        <div class="container">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
